/__pycache__
/log
/function/__pycache__
/entity/__pycache__
/model_jp.pt
/logs/
/model_kr.pt
/model_jp.pt
backup/model_kr.pt
backup/model_kr.pt.1
backup/model_kr.pt.2
backup/model_kr.pt.3
backup/model_jp.pt.1
backup/model_kr.pt.4
config.toml
/*.pt
model_bk/
RESULT_*.md
