mysql-connector-python
pandas
requests
PyYAML
selenium
webdriver-manager
finance-datareader @ git+https://github.com/FinanceData/FinanceDataReader.git
yahoo_finance_api2
torch==2.2.2
numpy<2
xlrd>=2.0.1
openpyxl
flask
flask-sock
lxml
